# NULL o IS NULL

En **SQL**, `NULL` representan records desconocidos o ignorados en los atributos de una tabla. Podemos investigar estos tipos de records usando la expresión `IS NULL`.

—_Investiguemos el número de valores `NULL` del atributo `birthdate` para la tabla `people`:—_

In [10]:
import pandas as pd
import psycopg2.extras
conn = psycopg2.connect("dbname='test' user='test' host='/tmp/'")
cur = conn.cursor()

In [2]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT COUNT(*) FROM intro_sql.people WHERE birthdate IS NULL;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

   count
0   2245

Por el contrario, si deseamos encontrar cuantos records o cuales elementos no son `NULL` podemos usar el _key word_ `IS NOT NULL`.

—_Averiguemos cuales elementos en el atributo `name`, de la tabla `people`, no son `NULL`:—_

In [6]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.name FROM intro_sql.people WHERE birthdate IS NOT NULL;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                    name
0                50 Cent
1     A. Michael Baldwin
2           A.J. Buckley
3            A.J. Langer
4                Aaliyah
...                  ...
6147    Zoe Lister-Jones
6148      Zoë Poledouris
6149         Zoey Deutch
6150         Zohra Segal
6151     Zooey Deschanel

[6152 rows x 1 columns]

—_El nombre de las personas que siguen vivas en la tabla `people`. En otras palabras, aquellos records en el atributo `deathdate` que sea desconocidos o ignorados:—_

In [7]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.name FROM intro_sql.people WHERE deathdate IS NULL;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                    name
0                50 Cent
1     A. Michael Baldwin
2          A. Raven Cruz
3           A.J. Buckley
4           A.J. DeLucia
...                  ...
7605         Zoey Deutch
7606     Zooey Deschanel
7607       Zoran Lisinac
7608       Zubaida Sahar
7609       Zuhair Haddad

[7610 rows x 1 columns]

# LIKE o NOT LIKE

Ya hemos realizado filtros donde las consultas a las tablas tienen que ver más con atributos cuantitativos.  —_¿Pero qué pasa cuándo los atributos son cualitativos?...—_

En **SQL**, el operador `LIKE` puede ser utilizado en la clausula `WHERE` para buscar patrones en los records de los atributos. Pero para completar esta tarea necesitamos utilizar algo llamado _wilcard_.

En computación un _wilcard_ son simbolos que nos permiten representar uno o más carcteres. Por ejemplo: —_`%` nos ayuda a coincidir, en un texto, uno, varios o ningún caracter que nosotros hayamos proporcionado para comparar...—_

_—El siguiente query nos ayuda a localizar cualquier nombre de una compañia que coincida con `Data`.—_
```sql
SELECT name
FROM companies
WHERE name LIKE 'Data%';
```
Observamos que nos hemos apoyado de `WHERE` para realizar el filtro en el atributo `companies`, y `%` para buscar cualquier patron que coincidía con `Data`.

El _wildcard_ `_` se utiliza cara coincidir solamente un caracter. Por ejemplo: — _sabremos que nos referimos a `Estudiante` si solo digitamos como `Est_diante` o `Nissan` por `Nis_an`..._ —
```sql
SELECT name
FROM companies
WHERE name LIKE 'Nis_an';
```

In [12]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.name FROM intro_sql.people WHERE name LIKE '_r%'
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                  name
0             Ara Celi
1        Aramis Knight
2    Arben Bajraktaraj
3      Arcelia Ramírez
4           Archie Kao
..                 ...
526        Troy Garity
527        Troy Miller
528         Troy Nixey
529     Ursula Andress
530      Wray Crawford

[531 rows x 1 columns]

`NOT LIKE` es la parte opuesta. Es decir, `NOT LIKE` se utiliza como negación o _"lo contrario a"_. Por ejemplo: — _si queremos encontrar todos los nombres de las personas que **"no"** comiencen con la letra `A`..._ —

In [13]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.name FROM intro_sql.people WHERE name NOT LIKE 'A%'
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                    name
0                50 Cent
1            Álex Angulo
2     Álex de la Iglesia
3          Ángela Molina
4             B.J. Novak
...                  ...
7763         Zohra Segal
7764     Zooey Deschanel
7765       Zoran Lisinac
7766       Zubaida Sahar
7767       Zuhair Haddad

[7768 rows x 1 columns]